{% extends "../layouts/base.html" %}
{% block content %}
<h1> Bienvenida NativApps,a tu CRUD de estudiates</h1>
<p>
    Bienvenido a NativApps! Somos una empresa dedicada a brindar soluciones tecnológicas para mejorar la experiencia de aprendizaje. Estamos emocionados de ofrecerle nuestro sistema de CRUD de cursos a estudiantes, el cual le permitirá tener un control total sobre sus cursos y sus progresos. Con nuestra plataforma, podrá crear, leer, actualizar y eliminar sus cursos de manera sencilla y eficiente. Además, en el menú superior encontrará todas las opciones necesarias para administrar sus cursos y su progreso. Estamos seguros de que nuestra solución será de gran ayuda para mejorar su experiencia de aprendizaje. ¡Esperamos trabajar juntos en su camino hacia el éxito!
</p>
{% endblock %}